# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
sites/*/private
private
drupal/tmp

# Ignore paths that contain user-generated content.
private-files
sites/*/files
.sass-cache
node_modules
